// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{

font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
	background:color($colors, primary);
	color:color($colors, light);
	margin-top:20px;
}

.toolbar-title{
	text-align: center;
	margin-left: -20px;
}

.tabs-md .tab-button-icon{
	color: #ccc;
}

.temp{
	font-size: 50px;
	text-align: center;
	font-weight: normal;
}

.location, .icon, .desc {
	text-align: center;
}

.icon-img{
	width: 100px;
}

.location{
	font-size: 30px;
}

.desc{
	font-size: 20px;
}

.pulse
{
  
  font-size: 13px;
  display: block;
  position: absolute;
  bottom: 10px;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 45%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  }

 a
 {
    color: #000000;
    text-decoration: none;
}

.fa
{
    color: #E90606;
    margin: 0 29px;
    font-size: 10px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
}
@-webkit-keyframes pound
  to
    transform: scale(1.1)


@keyframes pound
  to
    transform: scale(1.1)



//SWIPER CLASS

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}